# =========================
# GCP / BigQuery
# =========================
GCP_PROJECT_ID=your-gcp-project-id
BQ_DATASET_RAW=olist_raw
BQ_DATASET_ANALYTICS=olist_analytics
BQ_LOCATION=asia-southeast1

# Path to service account key
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account.json

# =========================
# Meltano
# =========================
MELTANO_ENVIRONMENT=dev

# =========================
# dbt
# =========================
DBT_PROFILES_DIR=~/.dbt

# =========================
# (Optional) Streamlit
# =========================
STREAMLIT_PORT=8501